.project-image {
  flex-basis: 50%;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
 position: relative;
}

.project-frame {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
}

.projects-title {
  font-family: "classica-pro", serif;
  font-size: 36px;
  font-weight: 700;
  color: #19191A;
}

.projects-stack, .projects-desc {
  font-size: 1rem;
  color: #656565;
  font-weight: 600;
}

.project-year {
  font-size: 13px;
  color: #656565;
}

.section-projects {
  background-color: #F2F3F5;
}

.desc-frame {
  padding: 5%;
}

img {
  display: block;
  max-width: 100%;
  max-height: auto;
}

.about-title {
  margin-top: 1.2em;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5em;
}

.github-logo {
  width: 15%;
  padding: 10pt;
  margin-left: auto;
  margin-right: auto;
}

.desc {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #656565;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .row {
    gap: 300px;
  }

  .project-frame {
    height: 100%;
  }
}