.project-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}

.loreal-branding {
  width: 60%;
}

.work-row {
  display: flex;
  justify-content: space-between;
}