.row {
  display: flex;
  flex-direction: row;
}

.wireframe-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wireframe-frame {
  margin: 10px;
  width: 300px;
  height: 1100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wireframes-title {
  font-size: 1.1rem;
}

.wireframes-stack, .wireframes-desc {
  font-size: 1rem;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 90%;
  max-height: auto;
}

.about-title {
  margin-top: 1.2em;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5em;
}

.github-logo {
  width: 15%;
  padding: 10pt;
  margin-left: auto;
  margin-right: auto;
}

.desc {
  font-size: 0.8rem;
}


@media (max-width: 600px) {
  .wireframe-frame {
    width: 100%;
  }
}