.about {
  flex-direction: column;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-name {
  color: #cbacac;
}

.about-role {
  margin-top: 1.2em;
  font-size: 2rem;
}

.about-desc {
  font-size: 1rem;
  margin-top: 2.4em;
  display: flex;
}

h1 {
  font-size: 3rem;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}