nav {
	position: absolute;
	background: transparent;
	padding: 1.5em 1.5em;
	display: flex;
	right: 300px;
	justify-content: flex-end;
	padding-top: 70px;
	word-spacing: 100px;
	color: #cbacac;
	font-size: 1.5rem;
  font-weight: 600;
	gap: 30px;
	text-decoration: underline;
	cursor: pointer;
}
