.work-title {
  font-size: 45px;
  line-height: 80px;
  color: #22272c;
  font-family: 'DM Serif Display', serif;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
